| ---
| name: "#{name}"
| address: "!{address}"
| link: "!{link}"
| link_title: "#{link_title}"
| start_date: #{start_date}
| end_date: #{end_date}
| hashtag: "#{hashtag}"
| openness_level: #{openness_level}
| ---
| #{description}
|
