| ---
| name: "!{name.replace('"', '\\"')}"
| category: #{category}
| nature:
| nationality: #{nationality}
| website: "!{website.replace('"', '\\"')}"
| twitter: "#{twitter}"
| linkedin: "!{linkedin.replace('"', '\\"')}"
| date_signed: #{date_signed}
| ---
| #{introduction}
|
