p= __('event.confirmEmail.intro')

ul
  each val, index in data.formResponse
    li
      strong= data.formResponse[index].title
      br
      | #{data.formResponse[index].value}

p= __('event.confirmEmail.clickOnLink')
  br
  a(href=linkUrl)
    strong= __('event.confirmEmail.verifyButton')

p= __('mailSignature')

p= __('event.confirmEmail.clickOnLink')
  small __('event.confirmEmail.linkDoesNotWork')
    br
    | #{linkUrl}
