p= __('supporter.confirmEmail.intro')

ul
  each val, index in data.formResponse
    li
      strong= data.formResponse[index].title
      br
      | #{data.formResponse[index].value}

p= __('supporter.confirmEmail.clickOnLink')
  br
  a(href=linkUrl)
    strong= __('supporter.confirmEmail.verifyButton')

p= __('mailSignature')

p
  small= __('supporter.confirmEmail.linkDoesNotWork')
    br
    | #{linkUrl}
